{% extends 'base.html' %}
{% block content %}

<h1>Category posts: {{ category }}</h1>

<ul>
    {% for post in category_posts  %}
    <br>
    <li>
        <h3><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h3>
        <br>
        <h4>{{ post.body | slice:":200" }}</h4>
        <p><small>{{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }}</small></p>
    </li>
    <hr>
    {% endfor %}
    <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Back</a>
</ul>

{% endblock %}